<div class="container">
  <div class="totalBudget" style="margin-top: 10%;">
    <label for="inputBudget" class="col-sm-3 offset-1">Total Budget</label>
    <input type="text"
     name="inputBudget" 
     id="inputBudget" 
     class="col-sm-3" 
     [(ngModel)]="inputBudget"
     placeholder="Enter Budget amount"/>
    <button class="btn btn-success col-sm-3 offset-1" (click)="AddBudget();">Update</button>
  </div>

  <div class="categories" style="margin-top: 5%;">
    <label for="inputBudget" class="col-sm-3 offset-1">Categories</label>
    <input type="text"
     name="inputBudget"
      id="inputBudget"
       class="col-sm-3"
       [(ngModel)]="inputCategory"
        placeholder="Enter category name here"/>
    <button class="btn btn-success col-sm-3 offset-1" (click)="addCategories();">Add</button>
  </div>
  
  <div class="categoryItem list-item">
      <div class="cardList col-sm-6">
        <ul>
          <h3>List Names here:</h3>
          <li *ngFor="let item of categoryArray; let i = index" style="list-style: none;">{{ item }}
            <span id="categoryEdit" (click)="deletecategories(i);" style="cursor: pointer"> &#x2710; </span></li>
        </ul>
      </div>
  </div>

</div>