<div class="container">
  <div class="totalBudget" style="margin-top: 10%;">
    <label for="inputBudget" class="col-sm-3 offset-1">Total Budget</label>
    <input type="text"
     name="inputBudget" 
     id="inputBudget" 
     class="col-sm-3" 
     placeholder="Enter Budget amount"/>
    <button class="btn btn-success col-sm-3 offset-1">Update</button>
  </div>
  <div class="categories" style="margin-top: 5%;">
    <label for="inputBudget" class="col-sm-3 offset-1">Categories</label>
    <input type="text"
     name="inputBudget"
      id="inputBudget"
       class="col-sm-3"
        placeholder="Enter category name here"/>
    <button class="btn btn-success col-sm-3 offset-1">Add</button>
  </div>
  <div class="categoryItem list-item">
      <div class="card col-sm-6" style="border: 1px solid;margin-top: 5%; margin-left:5%;">
        <ul>
          <h3>List Names here:</h3>
          <li>1</li>
        </ul>
      </div>
  </div>

</div>