<div class="card customCard">
  <div class="row">
    <div class="col-sm-12 cardHeader">
      <h4 class="card-title">Budget Overview</h4>
    </div>
    <div class="circle">{{ percentSpent }}% spent</div>
    <div class="col-sm-6">
      <div class="card-body-right">
        <p class="card-text">Total Budget</p>
        <label class="label">Rs {{ totalBudget }}</label>

        <p class="card-text">Total Expenses</p>
        <label class="label">{{ totalExpenses }}</label>
      </div>
    </div>
  </div>
</div>

<div class="card customCard">
  <div class="row">
    <div class="col-sm-12 cardHeader">
      <h4 class="card-title">Category wise split</h4>
    </div>
    <div class="col-sm-12">
      <div class="container">
        <div class="text-center">
          <canvas baseChart [data]="pieChartData" [labels]="totalCategories" [chartType]="pieChartType"
            [options]="pieChartOptions">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="addExpense" style="margin: 55px 45px;">
  <button class="btn btn btn-info" data-toggle="modal" data-target="#myModal">Add Expenses</button>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" (focus)="focused();">
        <label for="itemName" class="label col-sm-3">Category</label>
        <select #expenseCategory class="label col-sm-3">
          <option *ngFor="let item of totalCategories; let i = index" [value]="item">
            {{item}}
          </option>
        </select>
        <br />
        <label for="itemName" class="label col-sm-3">Item Name</label>
        <input (focus)="focused();" type="text" class="label col-sm-5" #expenseName /><br />
        <label for="itemAmount" class="label col-sm-3">Amount</label>
        <input (focus)="focused();" type="number" pattern="[0-9]" class="label col-sm-5" #expenseAmount /><br />
        <label for="itemAmount" class="label col-sm-3">Date</label>
        <input type="date" (focus)="focused();" class="label col-sm-5" #expenseDate />
        <div *ngIf="errors" style="color:red"><b>
            <p>{{ errors }} </p>
          </b></div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"
          (click)="addExpenses(expenseCategory, expenseName,expenseAmount,expenseDate);">OK</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<div style="text-align:center" *ngIf="expensesArray.length > 0">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Item Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Expense Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of expensesArray | paginate: config; let i = index">

        <td><span id="categoryEdit" style="float: left" (click)="deleteExpenseDetails(i);"> &#x2710; </span>{{item.category}}</td>
        <td>{{item.itemName}}</td>
        <td>{{item.amount}}</td>
        <td>{{item.date}}</td>
      </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

</div>