<div class="card" style="width:400px; border : 2px solid; margin-left: 10%; display: inline-block;">
  <div class="row">
    <div class="col-sm-12" style="border: 1px solid; max-width: 93.6%; margin-left: 3%;">
      <h4 class="card-title">Budget Overview</h4>
    </div>
    <div class="col-sm-6">
      <img class="card-img" src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Card image" />
    </div>
    <div class="col-sm-6">
      <div class="card-body-right">

        <p class="card-text">Total Budget</p>
        <label class="label">Rs 0</label>

        <p class="card-text">Total Expenses</p>
        <label class="label">Rs 0</label>
      </div>
    </div>
  </div>
</div>

<div class="card" style="width:400px; border : 2px solid; margin-left: 10%; display: inline-block;">
  <div class="row">
    <div class="col-sm-12" style="border: 1px solid; max-width: 93.6%;
            margin-left: 3%;">
      <h4 class="card-title">Category wise split</h4>
    </div>
    <div class="col-sm-6">
      <img class="card-img" src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Card image" />
    </div>
    <div class="col-sm-6">
      <div class="card-body-right">

        <p class="card-text">Needs to be updated for pie Chart</p>
        <a href="#" class="btn btn-primary">See Profile</a>
      </div>
    </div>
  </div>
</div>

<div class="addExpense" style="margin: 55px 45px;">
    <button class="btn btn btn-info">Add Expenses</button>
</div>

<div class="expensesList" style="margin: 16px 54px;">
    <div class="list-group row">
       <div class="heading">
        <label class="list-item col-sm-3" style="max-width: 20%;">Category</label>
        <label class="list-item col-sm-3">item name</label>
        <label class="list-item col-sm-3">Amount</label>
        <label class="list-item col-sm-3">Expense date</label>
       </div>
       <div class="listContent">
         Dynamic list content will generate here.
       </div>
    </div>
</div>

<nav aria-label="..." style="margin-left : 20px;">
    <ul class="pagination">
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active">
        <span class="page-link">
          2
          <span class="sr-only">(current)</span>
        </span>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>